body {
            font-family: Arial;
            margin: 0;
            background-color: lightgray;
        }

header {
            background-color: darkgreen;
            color: white;
            text-align: center;
            padding: 20px;
        }

nav {
            background-color: white;
            text-align: center;
            padding: 10px;
        }

 nav a {
            text-decoration: none;
            margin: 10px;
            color: black;
        }

section {
            padding: 20px;
            text-align: center;
        }

.box {
            background-color: white;
            border: 1px solid black;
            margin: 15px;
            padding: 15px;
        }

footer {
            background-color: black;
            color: white;
            text-align: center;
            padding: 10px;
        }


#inputSec {
            text-align: center;
            padding: 10px;
}
